@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --animate-float: float 6s ease-in-out infinite;
  
  --color-maroon: var(--color-maroon);
  --color-maroon-dark: var(--color-maroon-dark);
  --color-maroon-darker: var(--color-maroon-darker);
  --color-gold: var(--color-gold);
  --color-premium: var(--color-premium);
}

@layer base {
  :root {
    --color-maroon: #791916;
    --color-maroon-dark: #5a1210;
    --color-maroon-darker: #3a0d0a;
    --color-gold: #d4af37;
    --color-premium: #fdfbf7;
  }
  
  .dark {
    --color-premium: #121212;
    --color-maroon: #d4af37;
    --color-maroon-dark: #fdfbf7;
    --color-maroon-darker: #fdfbf7;
    --color-gold: #791916;
  }

  body {
    @apply bg-premium text-maroon-darker transition-colors duration-300;
  }
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}
