@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

body {
  @apply bg-slate-50 text-slate-900 transition-colors duration-300;
}

.dark body {
  @apply bg-slate-950 text-slate-50;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
